:root {
  --collab-size: 12px;
}

p {
  text-decoration: none;
  margin: 0;
}

.collaborators {
  display: flex;
  position: relative;
}

#collab-0 {
  position: absolute;
  right: 50%;
  /* top: 15vh; */
  font-size: var(--collab-size);
  /* transform: rotate(-90deg); */
}
#collab-1 {
  position: absolute;
  right: 17vw;
  top: 41vh;
  font-size: var(--collab-size);
  /* transform: rotate(-30deg); */
}
#collab-2 {
  position: absolute;
  left: 28vw;
  top: 10vh;
  font-size: var(--collab-size);

  /* transform: rotate(-140deg); */
}
#collab-3 {
  position: absolute;
  right: 14vw;
  top: 24vh;
  font-size: var(--collab-size);

  /* transform: rotate(30deg); */
}
#collab-4 {
  position: absolute;
  left: 13vw;
  top: 20vh;
  font-size: var(--collab-size);
  /* transform: rotate(140deg); */
}
#collab-5 {
  position: absolute;
  left: 18vw;
  top: 40vh;
  font-size: var(--collab-size);
  /* transform: rotate(-60deg); */
}
#collab-6 {
  position: absolute;
  left: 38vw;
  top: 45vh;
  font-size: var(--collab-size);

  /* transform: rotate(-140deg); */
}
#collab-7 {
  position: absolute;
  right: 22vw;
  top: 12vh;
  font-size: var(--collab-size);
  /* transform: rotate(60deg); */
}
.collab-bubble:hover {
  z-index: 10;
}

.collab-bubble p {
  font-family: "Gruppo";
}

.collab-bubble h5 {
  margin: 6px auto 2px;
}
.collab-bubble {
  padding: 8px;
}

/* Cellphone media query */
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .collab-bubble {
    width: 75px;
    height: 80px;
    overflow: hidden;
  }
  .collab-title {
    font-size: 0.5rem;
  }
  .collab-bubble:hover {
    color: var(--brown);
    height: 230px;
    width: 200px;
    background: var(--white);
    overflow: visible;
    border-radius: 16px;
    position: absolute;
  }
  .collab-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

/* Portrait iPad media query */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .collab-bubble {
    width: 200px;
    height: 130px;
    overflow: hidden;
  }
  .collab-bubble:hover {
    color: var(--brown);
    height: 300px;
    background: var(--white);
    overflow: visible;
    border-radius: 16px;
  }
  .collab-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

/* Landscape iPad media query */
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .collab-bubble {
    padding: 8px;
    width: 200px;
    height: 130px;
    overflow: hidden;
  }
  .collab-bubble:hover {
    color: var(--brown);
    width: 300px;
    height: 240px;
    background: var(--white);
    overflow: visible;
    border-radius: 16px;
  }
  .collab-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024.1px) and (-webkit-min-device-pixel-ratio: 1) {
  .collab-bubble {
    padding: 8px;
    width: 300px;
    height: 130px;
    overflow: hidden;
  }
  .collab-bubble:hover {
    color: var(--brown);
    height: 250px;
    background: var(--white);
    overflow: visible;
    border-radius: 16px;
  }
  .collab-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}
