@import "arrows.css";
@import "about.css";
@import "team.css";

/* @import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap"); */

:root {
  --white: white;
  --red: #c40808;
  --orange: #ff6117;
  --green: #4fb05e;
  --pink: #eb3b8a;
  --blue: #1430ba;
  --brown: brown;
}

.page {
  height: 100%;
}

.container {
  height: 100%;
}

.link-arrow {
  color: var(--white);
  text-decoration: none;
}
.link-arrow:hover {
  color: var(--brown);
}
.path {
  color: var(--white);
  text-decoration: none;
}
.path:hover {
  color: var(--brown);
}

.link {
  color: var(--white);
  text-decoration: none;
}
.link:hover {
  color: var(--brown);
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.branch {
  text-align: center;
}

.main-title {
  justify-content: center;
  color: white;
  font-family: "Palette Mosaic";
}

ul {
  list-style-type: none;
  color: white;
}

.hidden {
  height: 0;
  overflow: hidden;
}

.video-file {
  position: absolute;
  top: 25%;
  transform: rotate(90deg);
}

/* video { */
/* display: block; */
/* margin: auto; */
/* } */

.video-wrapper {
  margin: auto;
}

.video {
  /* overflow: hidden; */
  padding-top: 56.25%;
  position: relative;
  /* display: block;
    margin: auto; */
}

.video iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* top: 50vh; */
  /* transform: translate(0, -50%); */
  /* display: block;
    margin: auto; */
}

.full-vid {
  width: 90%;
}
.half-video {
  width: 50%;
}
.markdown-content {
  width: 80vw;
  text-align: left;
  margin: auto;
  /* font-family:  */
}

.next {
  /* position: absolute; */
  height: 8px;
  /* bottom: 2%; */
  /* right: 2%; */
}

.image-button {
  width: 100px;
  border-radius: 50%;
}
