@import "arrows.css";
@import "about.css";
@import "team.css";
@import "collabs.css";
@import "welcome.css";
@import "video.css";

/* @import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap"); */

:root {
  --white: white;
  --red: #c40808;
  --orange: #ff6117;
  --green: #4fb05e;
  --pink: #eb3b8a;
  --blue: #1430ba;
  --brown: brown;
  --title-font: "Staatliches";
  --paragraph-font: "ZCOOL QingKe HuangYou";
  --detail-font: "ZCOOL QingKe HuangYou";
  --backup-font: "Nanum Gothic";
  --button-font: "Staatliches";
  /* `Limelight`,
          `Palette Mosaic`,
          `PT Sans Narrow`,
          `Bebas Neue`,
          `Alegreya Sans SC`,
          `Nanum Gothic`,
          `Gruppo`,
          `ZCOOL QingKe HuangYou`,
          `Staatliches`, */
}

body {
  margin: 0;
}
.page {
  height: 100vh;
}
.fixed-sketch {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
p {
  margin-bottom: 16px;
  /* font-family: "Gruppo"; */
}

h1 {
  font-family: "Staatliches";
  color: white;
  margin: 20px;
}

h2 {
  font-family: "Staatliches";
  color: var(--brown);
  font-size: 40px;
  margin: 40px;
}

h5 {
  font-family: "Staatliches";
  font-size: 0.7rem;
  margin: 8px auto;
}

/* em {
  text-decoration: line-through;
  color: var(--brown);
} */

strong {
  font-family: "Staatliches";
  font-weight: 800;
}

.background-black {
  background: black;
}

.welcomeaudio {
  position: absolute;
  z-index: 10;
  left: 6%;
  bottom: 2%;
}

.container {
  height: 100%;
}

.link-arrow {
  color: var(--white);
  text-decoration: none;
}
.link-arrow:hover {
  color: var(--brown);
}
.path {
  color: var(--white);
  text-decoration: none;
}
.path:hover {
  color: var(--brown);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 10vh; */
  text-align: center;
  position: relative;
}

.main-collab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.home-content {
  font-family: var(--paragraph-font);
  width: 50vw;
  /* height: 50vh; */
  /* text-align: left; */
  /* justify-content: center; */
  margin: 18px auto;
  margin-bottom: 50px;
  color: white;
  font-size: 0.9rem;
}

.contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10vh; */
  justify-content: center;
}
.statement-contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  /* justify-content: center; */
}

.branch {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-title {
  justify-content: center;
  color: white;
  font-family: "Palette Mosaic";
}

ul {
  list-style-type: none;
  color: white;
}

.hidden {
  height: 0;
  overflow: hidden;
}

.markdown-content {
  width: 80vw;
  text-align: left;
  margin: auto;
  font-family: var(--paragraph-font);
  font-size: 20px;
  color: var(--white);
}

.markdown-content em {
  /* .statement-content em { */
  text-decoration: line-through;
  color: var(--brown);
  /* font-style: italic; */
  /* } */
}

.link {
  color: var(--white);
  text-decoration: none;
  font-family: var(--button-font);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 8px;
  margin: 20px;
}

.link:hover {
  color: var(--brown);
  border: 1px solid var(--brown);
}

.next {
  color: var(--white);
  text-decoration: none;
  font-family: var(--button-font);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 8px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.next:hover {
  color: var(--brown);
  border: 1px solid var(--brown);
}

.image-button {
  width: 100px;
  border-radius: 50%;
}

.off {
  height: 0;
  overflow: hidden;
}
